*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Segoe UI';
}

/*BACKGROUNDS*/

.homepage, .contactMe, .assignmentDownloads, .inspiring-page
{
    background-image: linear-gradient(rgba(0, 7, 46, 0.6), rgba(0, 7, 46, 0.6)), url(./assets/pc-inside.jpg);
    background-size: cover;
}

/*TOP SECTION*/
nav ul
{
    background-color: rgb(4, 0, 32);
    color: white;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    height: 150px;
    white-space: nowrap;
    padding-left: 50px;
    padding-right: 20px;
}

.name
{
    font-size: 2rem;
    font-family: Fixed, monospace;
    font-weight: 100;
}

.url
{
    color: white;
    font-weight: normal;
    padding: 30px;
    margin: 5px;
    background-color: rgb(0, 85, 165);
    text-decoration: none;
}

.url:hover
{
    background-color: darkblue;
    color:  rgb(0, 191, 255);
}

/*HAMBURGER MENU*/

.hamburgerMenu
{
    display: none;
}

.hamburgerMenu :hover
{
    fill: #00BFFF;
}

.hm-dropdown
{
    display: none;
    flex-direction: column;
}

.hm-dropdown h1
{
    margin-top: 15px;
    z-index: 1;
}

.hm-dropdown h1 a
{
    color: #00BFFF;
    background-color: #0055A5;
    text-decoration: none;
    padding: 5px;
}

/*DESCRIPTION*/
.about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.aboutMe
{
    font-size: 4rem;
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    border-radius: 25px;
    border: solid 6px rgb(0, 85, 165);
}
.description
{
    display: flex;
    align-items: center;
    border: solid 6px rgb(0, 85, 165);
    padding: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    border-radius: 25px;
}

.description h1
{
    font-size: 3rem;
    flex: 1
}
.description p
{
    flex: 1;
    line-height: 1.5rem;
}

/*DOWNLOADS*/
.lists
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #00BFFF;
    list-style-type: none;
    text-align: center;
}

.lists li
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.lists li a 
{
    color: #00BFFF;
}


.compsciProject
{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #040020;
    border-radius: 25px;
    border: 5px solid black;
}

.lists li :hover
{
    background-color: rgb(0, 63, 122);
}

.compsciProject img
{
    width: 100%;
    height: 100%;
}
.listHeader
{
    text-decoration: underline;
}

/*INSPIRING PROJECTS*/

.mobileLayoutDesc
{
    display: none;
}

#projectGrid
{
    display: grid;
    row-gap: 100px;
    column-gap: 60px;
    grid-auto-rows: repeat(2, 30%);
    grid-template-columns: repeat(2, 30%);
    max-width: 1700px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    color: rgb(0, 191, 255);
}

#projectGrid img
{
    width: 100%;
    height: 100%;
}

#projectGrid p
{
    display: block;
    line-height: 1.5rem;
}

/*CONTACT PAGE*/

#contactHeader
{
    text-align: center;
    font-size: 100px;
    font-weight: normal;
}

hr
{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contactMe
{
    color: white;
}

#contactForm
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#contactForm p
{
    display: inline;
}

.formItem
{
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=radio]
{
    height: 20px;
    width: 20px;
}

input[type="submit"]
{
    background-color: rgb(0, 85, 165);
    color: white;
}

.bar
{
    height: 50px;
    width: 500px;
    border: solid 3px black;
    border-radius: 12px;
}

textarea
{
    width: 500px;
    height: 200px;
    border: solid 3px black;
    border-radius: 12px;
    color: black;
}

::placeholder
{
    padding-left: 10px;
    color: rgb
}

/*MEDIA QUERIES*/

@media screen and (min-width: 800px) and (max-width: 1000px)
{

nav ul
{
    height: 100%;
    flex-direction: column;
    padding: unset;
    justify-content: space-around;
    align-items: center;
}

.navLinks
{
    height: 1000px;
    display: flex;
    flex-direction: column;
}

main
{
    display: flex;
}

.url 
{
    margin: unset;
    padding: unset;
    padding-top: 20px;
    padding-bottom: 20px;
}


.navLinks ul :nth-child(1) a 
{
    padding-left: 100px;
    padding-right: 100px;
}

.navLinks ul :nth-child(2) a 
{
    padding-left: 45px;
    padding-right: 45px;
}

.navLinks ul :nth-child(3) a 
{
    padding-left: 73px;
    padding-right: 73px;
}

.navLinks ul :nth-child(4) a 
{
    padding-left: 55px;
    padding-right: 55px;
}

.navLinks ul :nth-child(5) a 
{
    padding-left: 92px;
    padding-right: 92px;
}

}

@media screen and (max-width: 899px)
{
    .url
    {
        display: none;
    }


    .hamburgerMenu
    {
        display: inline;
        fill: white;
    }

    #projectGrid
    {
        grid-template-columns: 70%;
    }

    .rtxDesc, .overwatchDesc, .seratoDesc, .watercoolingDesc
    {
        display: none;
    }

    .mobileLayoutDesc
    {
        display: inline
    }
}