*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topHeader
{
    color: white;
    background-color: blue;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
}

#subHeader
{
    margin-top: 40px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

#lists
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainList
{
    position: relative;
    list-style-type: none;
    line-height: 2;
}

.listHeader
{
    text-decoration: underline;
}

