*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*BACKGROUNDS*/

.homepage, .contactMe, .assignmentDownloads
{
    background-image: linear-gradient(rgba(0, 7, 46, 0.6), rgba(0, 7, 46, 0.6)), url(./assets/pc-inside.jpg);
    background-size: cover;
}

.inspiring-page
{
    background-color: rgb(4, 0, 32);
}


/*TOP SECTION*/
nav ul
{
    background-color: rgb(4, 0, 32);
    color: rgba(255, 255, 255, 0.849);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    height: 150px;
    white-space: nowrap;
    padding-left: 50px;
    padding-right: 20px;
}

.name
{
    font-size: 2rem;
    font-family: Fixed, monospace;
    font-weight: 100;
}

.url
{
    color: rgba(255, 255, 255, 0.849);
    font-weight: normal;
    padding: 30px;
    margin: 5px;
    background-color: rgb(0, 85, 165);
    text-decoration: none;
}

.url:hover
{
    background-color: darkblue;
    color:  rgb(0, 191, 255);
}

/*DESCRIPTION*/
.about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.849);
}

.aboutMe
{
    font-size: 4rem;
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    border-radius: 25px;
    border: solid 6px rgb(0, 85, 165);
}
.description
{
    display: flex;
    align-items: center;
    border: solid 6px rgb(0, 85, 165);
    padding: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    border-radius: 25px;
}

.description h1
{
    font-size: 3rem;
    flex: 1
}
.description p
{
    flex: 1;
    line-height: 1.5rem;
}

/*DOWNLOADS*/
.lists
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.mainList
{
    position: relative;
    list-style-type: none;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainList li a
{
    color: rgb(0, 191, 255);
}

.listHeader
{
    text-decoration: underline;
}

/*INSPIRING PROJECTS*/

#projectGrid
{
    display: grid;
    row-gap: 100px;
    column-gap: 60px;
    grid-auto-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 50%);
    max-width: 1700px;
    margin: 0 auto;
    color: rgb(0, 191, 255);
}

#projectGrid img
{
    width: 100%;
    height: 100%;
}

#projectGrid p
{
    display: block;
}

/*CONTACT PAGE*/

#contactHeader
{
    text-align: center;
    font-size: 100px;
    font-weight: normal;
}

hr
{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contactMe
{
    color: white;
}

#contactForm
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#contactForm p
{
    display: inline;
}

.formItem
{
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=radio]
{
    height: 20px;
    width: 20px;
}

input[type="submit"]
{
    background-color: rgb(0, 85, 165);
    color: white;
}

.bar
{
    height: 50px;
    width: 500px;
    border: solid 3px black;
    border-radius: 12px;
}

textarea
{
    width: 500px;
    height: 200px;
    border: solid 3px black;
    border-radius: 12px;
    color: black;
}

::placeholder
{
    padding-left: 10px;
}