/*CSS reset*/
*
{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Helvetica;
    box-sizing: border-box;
    font-size: 100%;
    /*font-family: 'Courier New', Courier, monospace;*/
    
}

.homepagemain
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circleImgDiv
{
    display: flex;
    flex-direction: row;
    color:white;
    justify-content: center;
    align-items: center;
}

.circleImg
{
    width: 20%;
    height: 20%;
    margin-right: 10px;
}

.navtag
{
    display: flex;
    background-color: rgb(30, 30, 30);
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 150%;
}

.navbar
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    width: 60%;
    justify-content: center;
}

.placeholder
{
    width: 20%;
}

.navlink
{
    text-decoration: none;
    padding: 20px;
}

.navlinkitem :hover
{
    color: rgb(210, 210, 210);
}

body
{
    background-color: rgb(15, 0, 50);
}

/*INDEX*/
.indexPageMain
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
}

.loginHref
{
    background-color: rgb(0, 4, 240);
    border: solid rgb(77, 0, 255) 2px;
    border-radius: 5px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}


.loginHref:hover
{
    background-color: rgb(77, 0, 255);
}

/*LOGIN PAGE*/

.loginpageMain
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 30px;
}

.signInHeader
{
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.placeholder
{
    background-color: rgb(15, 0, 105);
    border: solid rgb(77, 0, 255) 3px;
    border-radius: 5px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.placeholder:hover
{
    background-color: rgb(77, 0, 255);
}

.loginForm
{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}

.loginBox
{
    background-color: rgb(15, 0, 105);
    border: solid rgb(77, 0, 255) 3px;
    font-size: 100%;
    padding: 15px;
    border-radius: 5px;
    color: white;
}

.loginBox:focus
{
    outline: none;
}

.loginButton
{
    text-decoration: none;
    background-color: rgb(15, 0, 50);
    border: solid rgb(77, 0, 255) 2px;
    border-radius: 5px;
    width: 15%;
    height: 60px;
    color: white;
    margin-top: 20px;
}

.loginButton:hover
{
    background-color: rgb(77, 0, 255);
}

.loginInfoBox
{
    margin-top: 30px;
}

/*DASHBOARD*/
.dashboardPageMain
{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.topItems
{
    display: flex;
    justify-content: space-between;
}

.topStatHeader
{
    justify-self: flex-start;
    font-weight: bolder;
}

.topStat
{
    width: 19%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.dashboardItem
{
    margin-top: 20px;
    background-color: rgb(15, 0, 105);
    border: solid rgb(77, 0, 255) 2px;
    font-size: 125%;
    padding: 25px;
    border-radius: 5px;
    color: white;
}

.middleItems
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2px;
}

.middleStatHeader
{
    font-weight: bolder;
}

.leftSection, .rightSection
{
    width: 50%;
}

.rightSection
{
    display: flex;
    justify-content: flex-end;
}

.hashrateAndActiveMiners
{
    display: flex;
    height: 200px;
    justify-content: space-between;
}

.minerHashrates, .connectedMiners
{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blockData
{
    width: 95%;
}

.balances, .exchangeRates
{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.horizontalStatPair
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.balanceStatsDiv, .exchangeRatesStatsDiv
{
    display: flex;
    justify-content: space-between;
}
.verticalStatPair
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.optionButton
{
    text-decoration: none;
    background-color: rgb(15, 0, 50);
    border: solid rgb(77, 0, 255) 2px;
    border-radius: 5px;
    width: 20%;
    height: 60px;
    color: white;
    margin-top: 20px;
}

.optionButton:hover
{
    background-color: rgb(77, 0, 255);
}

.blockTable
{
    font-size: 20px;
}

.blockTable td
{
    padding-right: 10px;
    padding-bottom: 20px;
    color: lightgreen;
}

.blockDataOptions
{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px) 
{
    /*GENERAL AND HOMEPAGE/NAV*/
    *
    {
        font-size: 100%;
    }

    html, body 
    {
        width: 100%;
        overflow-x: hidden;
    }

    .navtag
    {
        flex-direction: column;
        justify-content: center;
        height: 120px;
        width: 100%;
        max-width: 800px;
        padding: 0px;
        margin: 0px;
        font-size: 150%;
    }

    .navbar
    {
        width: 100%;
        align-items: center;
    }

    .placeholder
    {
        width: 50%;
    }

    .circleImg
    {
        display: none;
    }

    .loginButton
    {
        width: 150px;
    }

    /*DASHBOARD*/
    .topItems
    {
        flex-direction: column;
        align-items: center;
    }

    .topStat
    {
        flex-direction: row;
        padding: 0px;
        width: 100%;
        margin: 5px;
        justify-content: space-between;
    }

    .middleItems
    {
        flex-direction: column;
    }

    .leftSection, .rightSection
    {
        width: 100%;
    }

    .hashrateAndActiveMiners
    {
        flex-direction: column;
        height: 100%;

    }

    .rightSection
    {
        justify-content: center;
    }

    .blockData
    {
        width: 100%;
    }

    .minerHashrates, .connectedMiners
    {
        width: 100%;
    }
    
    .blockTable
    {
        font-size: 15px;
    }
}